body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.flexible {
  display: flex;
}
img {
  width: 100%;
}
.width {
  width: 50%;
 
}
.width-1 {
  padding-left: 7%;
  padding-right: 7%;
}
.width-2 {
  padding-right: 7%;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
p {
  color: gray;
}
.justify {
  text-align: justify;
}
.orange{color:orange;}
.width a{
  text-decoration: none;
  background-image: linear-gradient(rgb(207, 189, 27), rgb(238, 37, 15));
  padding: 10px 40px;
  color: white;
  border-radius: 10px;
}
.top-section {
  background: url(images/top-banner.png);
  background-repeat: no-repeat;
  margin-bottom: 100px;
}
.dream-section {
  background: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: 101% 200px;
  margin-bottom: 150px;
}